# Folder dependensi Node.js (ukuran besar, tidak perlu diunggah)
node_modules/
# File log dari npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Sesi login WhatsApp (KEAMANAN: Jangan sampai terunggah ke GitHub!)
.wwebjs_auth/
.wwebjs_cache/
# File variabel lingkungan lokal (jika ada)
.env

# managed by open-wa
**.data.json
**.node-persist**
**_IGNORE_**
# end managed by open-wa
