# Menyembunyikan folder dependensi
node_modules/

# Menyembunyikan file rahasia/environment variables
.env
.env.local

# Menyembunyikan log & cache
npm-debug.log*
yarn-debug.log*
.vercel

# Menyembunyikan file OS
.DS_Store
Thumbs.db
